{% extends "base.html" %}

{% block content %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
<script>
    function getRandomRgb() {
        var num = Math.round(0xffffff * Math.random());
        var r = num >> 16;
        var g = num >> 8 & 255;
        var b = num & 255;
        return 'rgb(' + r + ', ' + g + ', ' + b + ')';
    }

    var nationalities = {{ nats|safe }};
    var unique = nationalities.filter((item, i, ar) => ar.indexOf(item) === i);
    console.log(nationalities)

    const arr = nationalities;
    const counts = {};

    for (const num of arr) {
    counts[num] = counts[num] ? counts[num] + 1 : 1;
    }

    $(document).ready(function() {
        
        var ctx = $("#chart-line");
        var myLineChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: unique,
                datasets: [{
                    data: [counts[unique[0]], counts[unique[1]], counts[unique[2]], counts[unique[3]], counts[unique[4]], counts[unique[5]], counts[unique[6]], counts[unique[7]],
                    counts[unique[8]], counts[unique[9]],counts[unique[10]],counts[unique[11]],counts[unique[12]],counts[unique[13]],counts[unique[14]],counts[unique[15]],counts[unique[16]],counts[unique[17]],counts[unique[18]]],
                    backgroundColor: [getRandomRgb(), getRandomRgb(), getRandomRgb(), getRandomRgb(),
                    getRandomRgb(), getRandomRgb(), getRandomRgb(), getRandomRgb(),
                    getRandomRgb(), getRandomRgb(), getRandomRgb(), getRandomRgb(),
                    getRandomRgb(), getRandomRgb(), getRandomRgb(), getRandomRgb(),
                    getRandomRgb(), getRandomRgb()]
                }]
            },
            options: {
                legend: {
                    display: true,
                    labels: {
                        fontSize: 16
                    }
                }
            }
        });
    });

    function change_active() {
        var url = window.location.href.split("/");
        year = url[4].replace("#", "");
        element = document.getElementById("dropdownMenuButton").innerHTML = year;
    }
    
</script>

<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center">
            <div class="col-lg-6 mx-auto d-block">
                <h1>Curiosities</h1>
            </div>
        </div>
    </div>
</header>

<body onload="change_active()">
    <div class="container-fluid col-lg-12" style="margin-top: 5rem;">
        <div class="d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Season
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" onclick="window.location.href='/curiosities/2022'">2022</a>
                  <a class="dropdown-item" href="#" onclick="window.location.href='/curiosities/2021'">2021</a>
                  <a class="dropdown-item" href="#" onclick="window.location.href='/curiosities/2020'">2020</a>
                  <a class="dropdown-item" href="#" onclick="window.location.href='/curiosities/2019'">2019</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid col-lg-12" style="margin-top: 5rem;">
        <div class="d-flex justify-content-between">
            <div class="col-lg-3">
                <div class="d-flex justify-content-center">
                    <h5>Most top 3 finishes: </h5>
                </div>
                <table class="table table-bordered" style="margin-top: 2rem; table-layout: fixed;">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Top 3 Finishes</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for pilot in top_3 %}
                      <tr>
                        <th scope="row">{{ pilot.2 }} {{ pilot.1 }}</th>
                        <td>{{ pilot.4 }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div> 
            <div class="col-lg-3">
                <div class="d-flex justify-content-center">
                    <h5>Most retired cars: </h5>
                </div>
                <table class="table table-bordered" style="margin-top: 2rem; table-layout: fixed;">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Retired cars</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for pilot in top_retired %}
                      <tr>
                        <th scope="row">{{ pilot.2 }} {{ pilot.1 }}</th>
                        <td>{{ pilot.4 }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div> 
            <div class="col-lg-3">
                <div class="d-flex justify-content-center">
                    <h5>Most accidents: </h5>
                </div>
                <table class="table table-bordered" style="margin-top: 2rem; table-layout: fixed;">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Accidents</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for pilot in top_accidents %}
                      <tr>
                        <th scope="row">{{ pilot.2 }} {{ pilot.1 }}</th>
                        <td>{{ pilot.4 }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>  
        </div>
    </div>
    <div class="container-fluid col-lg-12" style="margin-top: 5rem;">
        <div class="container">
            <div class="text-center">
                <div class="col-lg-6 mx-auto d-block">
                    <h1>Experienced Drivers</h1>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <table class="table table-bordered col-lg-8" style="margin-top: 2rem; table-layout: fixed;">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Code                </th>
                    <th scope="col">Name                </th>
                    <th scope="col">Nationality         </th>
                    <th scope="col">Years of Experience </th>
                  </tr>
                </thead>
                <tbody>
                    {% for pilot in experienced_pilots %}
                  <tr>
                    <th scope="row">{{ pilot.0 }}</th>
                    <th>{{ pilot.2 }} {{ pilot.1 }}</th>
                    <td>{{ pilot.3 }}</td>
                    <td>{{ pilot.4 }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container" style="margin-top: 5rem;">
            <div class="text-center">
                <div class="col-lg-6 mx-auto d-block">
                    <h1>Nationalities</h1>
                </div>
            </div>
        </div>
        <div class="page-content page-container" id="page-content">
            <div class="padding" style="padding: 5rem;">
                <div class="row">
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="col-sm-8 col-md-6">
                            <div class="card">
                                <div class="card-body" style="height: 100%">
                                    <div class="chartjs-size-monitor" >
                                        <div class="chartjs-size-monitor-expand" >
                                            <div ></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink" >
                                            <div ></div>
                                        </div>
                                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" ></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 5rem; margin-bottom: 5rem;">
            <div class="text-center">
                <div class="col-lg-6 mx-auto d-block">
                    <h1>Best in the business</h1>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between" style="margin-bottom: 10rem;">
            <div class="col-lg-5">
                <div class="d-flex justify-content-center">
                    <h5>Best Pilots </h5>
                </div>
                <table class="table table-bordered" style="margin-top: 2rem; table-layout: fixed;">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Code                    </th>
                        <th scope="col">Name                    </th>
                        <th scope="col">Nationality             </th>
                        <th scope="col"># Championships </th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for pilot in best_pilots %}
                        <tr>
                            <th scope="row">{{ pilot.0 }}</th>
                            <th>{{ pilot.2 }} {{ pilot.1 }}</th>
                            <td>{{ pilot.3 }}</td>
                            <td>{{ pilot.4 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
            <div class="col-lg-5">
                <div class="d-flex justify-content-center">
                    <h5>Best Teams </h5>
                </div>
                <table class="table table-bordered" style="margin-top: 2rem; table-layout: fixed;">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Name                    </th>
                        <th scope="col">Nationality             </th>
                        <th scope="col"># Championships </th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for team in best_teams %}
                        <tr>
                            <th scope="row">{{ team.0 }}</th>
                            <th>{{ team.1 }}</th>
                            <td>{{ team.2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


{% endblock %}